@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

$family-sans-serif: "Nunito", sans-serif;
$card-shadow: 0;

@import "../../../node_modules/bulma/bulma.sass";

html,
body {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.navbar-item {
  &.main {
    color: white;
  }
}

.draggableTile {
  padding: 8px;
  width: 300px;
  border-radius: 3px;
  background-color: #ccc;
  height: 100%;
  margin-right: 8px;
}

.innerDraggable {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #999;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
